h1 {
    color:rgb(6, 6, 59);
    font-size: 25px;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    padding-top: 25px;
}
#container {
    text-align: center;
    width: 500px;
    height: 500px;
    background-color:rgb(140, 203, 255);
}