* {
    margin: auto;
    padding: 3px;
    background-color: lightpink;
}

h1 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    background-color: rgb(183, 224, 255);
    border: 1px solid black;
}

label {
    font-size: 16px;
}

textarea{
    background-color: rgb(183, 224, 255);
}




